<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSV</title>
</head>

<style>
    table, th,td {
        border: solid gray 1px;
    }
</style>

<body>
    <table>
        <tr>
            <th>Date</th>
            <th>Open</th>
        </tr>
        {{range .}}
            <tr>
                <td>{{.Date}}</td>
                <td>{{.Open}}</td>
            </tr>
        {{end}}
    </table>

</body>
</html>
